# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.env
*.env

# VSCode
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Dataset
dataset/

# Outputs
outputs/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.bak
*.swp